#pragma once

namespace Config {

inline constexpr char WIFI_SSID[] = "";
inline constexpr char WIFI_PASSWORD[] = "";

inline constexpr char SERVER_URL[] = "http://10.0.1.19:8080";

inline constexpr char DEVICE_ID[] = "esp32-01";
inline constexpr char FIRMWARE[] = "v0.1";

}